{% extends "base.html" %}
{% block title %} Menu {% endblock %}


{% block content %}

	{% for i in  range(bot.num_motors()) %}
	<section class="container">
		<h2> Motor {{i + 1}} [{{ bot.get_loaded_drink(i) }}] </h2> 
		<p>
		<a href="/{{ i }}/forward" class="btn btn-block btn-lg btn-primary" role="button">FORWARD</a>
	   <a href="/{{ i }}/stop" class="btn btn-block btn-lg btn-primary" role="button">STOP</a>
	   <a href="/{{ i }}/reverse" class="btn btn-block btn-lg btn-primary" role="button">REVERSE</a>
		</p>
	</section>
	{% endfor %}
{% endblock %}
