{% extends "base.html" %}
{% block title %} Menu {% endblock %}

{% block content %}

<!-- <section class="container">
	<hgroup>
		<h2> All Motors  </h2>
		<h3></h3>
	</hgroup>
	<p>
	<a href="/-1/forward" class="btn btn-block btn-lg btn-primary" role="button">FORWARD</a>
	 <a href="/-1/stop" class="btn btn-block btn-lg btn-primary" role="button">STOP</a>
	 <a href="/-1/reverse" class="btn btn-block btn-lg btn-primary" role="button">REVERSE</a>

	</p>
</section> -->

	{% for i in  range(bot.num_motors()) %}
	<section class="container">
		<hgroup>
			<h2> Motor {{i + 1}}  </h2>
	<h3>{{ bot.get_loaded_drink(i) }}</h3>
	</hgroup>
		<p>
			{% set type_F = "outline" if bot.motors[i].get_state() == 1 else "" %}
			{% set type_S = "outline" if bot.motors[i].get_state() == 0 else "" %}
			{% set type_R = "outline" if bot.motors[i].get_state() == -1 else "" %}
		<!-- <a href="/{{ i }}/forward" class="btn btn-block btn-lg btn-primary {{ type_F }}" role="button">FORWARD</a>
	   <a href="/{{ i }}/stop" class="btn btn-block btn-lg btn-primary {{ type_S }}" role="button">STOP</a>
	   <a href="/{{ i }}/reverse" class="btn btn-block btn-lg btn-primary {{ type_R }}" role="button">REVERSE</a>
	   <a href="/{{ i }}/dispense" class="btn btn-block btn-lg btn-primary outline" role="button">Dispense 0.5 oz</a> 
		-->

		<button id="button_forward_{{i}}" class=primary {{ type_F }}" role="button" onClick="drive_motor({{i}}, 'forward')">forward</button>
		<button id="button_stop_{{i}}" class="primary {{ type_S }}" role="button" onClick="drive_motor({{i}}, 'stop')">stop</button>
		<button id="button_reverse_{{i}}" class="primary {{ type_R }}" role="button" onClick="drive_motor({{i}}, 'reverse')">reverse</button>
		<button id="button_forward_{{i}}" class="primary" role="button" onClick="drive_motor({{i}}, 'dispense')">Dispense</button>
		</p>
	</section>
	{% endfor %}
{% endblock %}

{% block script %}

<script>

	function drive_motor(id, dir){
		console.log("DRIVING MOTOR", id, "in direction ", dir);

		var command = {
			motor_id: id,
			action: dir
		}

		fetch(`${window.origin}/custom/drive_motor`, {
      method:"POST",
      credentials: "include",
      body: JSON.stringify(command), 
      cache: "no-cache", 
      headers: new Headers({
        "content-type": "application/json"
      })
    }).then( function (response) {
			
				console.log("Received response");
				// console.log(response.message);
		}
		)

		// response = await fetch(`${window.origin}/get_motor_state`)

		// console.log(response.json())

		// get the motor state
		fetch(`${window.origin}/get_motor_state`, {
      method:"GET",
      credentials: "include",
      // body: JSON.stringify(command), 
      cache: "no-cache", 
      headers: new Headers({
        "content-type": "application/json"
      })
    })
		.then( response => response.json())
		.then(data => {

			if (data[id] == 1){
				document.getElementById(`button_forward_${id}`).className="primary outline";
			}
			else{
				document.getElementById(`button_forward_${id}`).className="primary";
			}

			if (data[id] == 0){
				document.getElementById(`button_stop_${id}`).className="primary outline";
			}
			else{
				document.getElementById(`button_stop_${id}`).className="primary";
			}

			if (data[id] == -1){
				document.getElementById(`button_reverse_${id}`).className="primary outline";
			}
			else{
				document.getElementById(`button_reverse_${id}`).className="primary";
			}
			

			
		});
	}


</script>

{% endblock %}
