{% extends "base.html" %}
{% block title %} Menu {% endblock %}



{% block content %}
<div class="container">
  <h1>test gif page</h1>
  <img id="fillgif" hidden src="{{ url_for('static', filename='gifs/fill_gif_custom.gif') }}"/> 

  <!-- <a href="{{ url_for('static', filename='')}}" -->

    <p class="name">freeCodeCamp</p>

    <button id="forward" type="button" onclick="forward();">Forward</button>

</div>

{% endblock %}


{% block script %}
<script>

const button = document.querySelector(".forward");


function forward() {

  var gif = document.getElementById("fillgif");
  var message = "hehe";

  console.log("HAHA");
  gif.hidden=false;

  var entry = {
    name: "dev",
    message: message
  }

  console.log(entry);

  fetch(`${window.origin}/test_release`, {
    method:"POST",
    credentials: "include",
    body: JSON.stringify(entry), 
    cache: "no-cache", 
    headers: new Headers({
      "content-type": "application/json"
    })
  } ).then( function (response) {

    if (response.status !== 200){
      console.log("STATUS IS NOT 200")
      return;
    }
    
    console.log("then!");
    
  }
  )

  // $.get("/release/10");

  

}

</script>
{% endblock %}