{% extends "base.html" %}
{% block title %} Menu {% endblock %}


{% block content %}
    <div class="row">
    {% for d in bot.all_drinks() %} 
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">      
        <article>
            <h3>{{ d.name }}</h3>
            <ul>
            {% for i in d.ingredients.keys() %}
                <li> {{ i }} </li> 
                <!-- : {{d.ingredients[i]}} oz </li> -->
            {% endfor %}
            </ul>
        <footer>
        <a href="/pour/{{d.id}}" role="button">Pour</a>
        </footer>
        </article>
    </div>
    {% endfor %}
</div>

{% endblock %}
