{% extends "base.html" %}
{% block title %}Drinks Queue{% endblock %}
{% block content %}
    <div class="container">
        <section>
            <h3>Up Next: {{ bot.get_next_drink_name() }}</h3>
        </section>
        <section>
            {% if bot.get_next_drink_uuid() %}
                <a id="release"
                   href="/staged/{{ bot.get_next_drink_uuid() }}"
                   class="btn btn-block btn-lg btn-primary"
                   role="button">Pour</a>
                <a id="skip"
                   href="/skip/{{ bot.get_next_drink_uuid() }}"
                   class="btn btn-block btn-lg btn-secondary outline"
                   role="button">Skip</a>
                <a id="next"
                   hidden
                   href="#"
                   class="btn btn-block btn-lg btn-primary"
                   role="button"
                   onclick="reloadPage();">Next
                Drink</a>
                <a href="/"
                   class="btn btn-block btn-lg btn-secondary outline"
                   role="button">Add another drink</a>
            {% else %}
                <p>
                    <a href="/" class="btn btn-block btn-lg btn-primary" role="button">Choose a drink</a>
                </p>
            {% endif %}
        </section>
        <section>
            <h3>In the Queue:</h3>
            <ol>
                {% for drink in bot.drink_queue %}<li>{{ bot.find_drink(drink[0]).name }}</li>{% endfor %}
            </ol>
        </section>
    </div>
{% endblock %}
{% block script %}
    <script>
  function reloadPage() {
    window.location.reload();
  }
    </script>
{% endblock %}
