/**
 * this file contains various bottender-specific modifications
 */

@font-face {
  font-family: GlacialIndifference;
  src: url("GlacialIndifference-Regular.otf");
}

@font-face {
  font-family: Glegoo;
  src: url("Glegoo-Regular.ttf");
}

@font-face {
  font-family: HinaMincho;
  src: url("HinaMincho.ttf");
}

@font-face {
  font-family: Pirou;
  src: url("Pirou-Regular.otf");
}

/* BOTTENDER COLOUR SCHEME */
[data-theme=light],
:root:not([data-theme=dark]) {
  color-scheme: light;
  --font-family: "IBM Plex Serif", serif;
  --font-family-bottender: "Playwrite US Trad", cursive;
  --font-family-ldbars: serif;
  --font-family-drink-description: "IBM Plex Serif", serif;
  /****** BACKGROUND COLOR *******/
  --background-color: #fff9ea;
  /****** BASIC TEXT COLOR *****/
  --color: #000000;
  /****** HEADING COLOR *****/
  --h1-color: #000000;
  --h2-color: #000000;
  --h3-color: #000000;
  --h4-color: #000000;
  --h5-color: #000000;
  --h6-color: #000000;
  --muted-color: #73828c;
  --muted-border-color: #edf0f3;
  /********** PRIMARY ***********/
  --primary: #25435c;
  --primary-hover: #ff9c8f;
  --primary-focus: #ff9c8f;
  --primary-inverse: #fff;
  --secondary: #596b78;
  --secondary-hover: #415462;
  --secondary-focus: rgba(89, 107, 120, 0.125);
  --secondary-inverse: #fff;
  --contrast: #1b2832;
  --contrast-hover: #000;
  --contrast-focus: rgba(89, 107, 120, 0.125);
  --contrast-inverse: #fff;
  --mark-background-color: #fff2ca;
  --mark-color: #543a26;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: normal;
}

h1 {
  --font-size: 2.25rem;
  --font-family: var(--font-family-bottender);
  --font-weight: normal;
  --typography-spacing-vertical: 1rem;
}

h2 {
  --font-size: 1.75rem;
  --font-family: "Playwrite US Trad", cursive;
  --font-weight: normal;
  --typography-spacing-vertical: 1rem;
}

h3 {
  --font-size: 1.25rem;
  --font-family: "IBM Plex Serif", serif;
  color: var(--h3-color);
  text-transform: uppercase;
  --font-weight: bold;
  --typography-spacing-vertical: 1rem;
}

h4 {
  --font-size: 1.0rem;
  --font-family: "Della Respira", sans-serif;
  --font-weight: normal;
  --typography-spacing-vertical: 1rem;
}

h5 {
  --font-size: 0.75rem;
  --font-weight: normal;
  --typography-spacing-vertical: 1rem;
}


.drink-description {
  --font-family: var(--font-family-drink-description);
  font-style: italic;
}

.drink-ingredients {
  --font-family: var(--font-family-drink-description);
}


.headings {
  margin-bottom: 0;
}


/* Robot reveal button - mostly hidden off-screen, it will "poke" up occasionally */
.robot-reveal {
  position: fixed;
  right: 26px;
  bottom: 26px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.6); */
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  opacity: 0.95;
  user-select: none;
}


/* Hidden secret section */
#menu-section-Secret {
  display: none;
}

#menu-section-Secret.visible {
  display: block;
}


/* Sidebar */
.my-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 15vw;
  /* ~15% of screen */
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.my-sidebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main content */
.content {
  margin-left: 15vw;
  padding: 2rem;
}

#stage-images { 
  width: 30%;
}