<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BotTender</title>
</head>

<body>

    <main class="container">

    <a href="{{ url_for('main_page') }}"> <h1>BotTender [mk1]</h1> </a>
    
    <div class="container">
        {% for message in get_flashed_messages() %}
        <mark>{{ message }}</mark>
        {% endfor %} 
    </div>

    <div id="content"> {% block content %}{% endblock %}</div>
  
 <nav>
  <ul>
  </ul>
  <ul>
    <li><a href="{{ url_for('main_page') }}">Menu</a></li>
    <li><a href="{{ url_for('custom_page') }}">Custom</a></li>
    <li><a href="{{ url_for('setup_page') }}">Setup</a></li>
    <li>Made by Dev</li>
  </ul>
</nav>
</main>
</body>
</html>
