<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BotTender</title>
</head>

<body>

    <main class="container">

	   <h1>RPi Web Server</h1>
	   
	   <a href="/0/forward" class="btn btn-block btn-lg btn-primary" role="button">FORWARD</a></div></div>
	   <a href="/0/stop" class="btn btn-block btn-lg btn-primary" role="button">STOP</a></div></div>
	   <a href="/0/reverse" class="btn btn-block btn-lg btn-primary" role="button">REVERSE</a></div></div>

	   <a href="/0/reverse" class="btn btn-block btn-lg btn-primary" role="button">REVERSE</a></div></div>
</main>
</body>
</html>
